%h1
  November Games
  = @year
  at a Glance

- overall_stats = @stats_array.shift
%p.overall-stats
  = overall_stats[:warps]
  warps in
  = overall_stats[:games]
  games over
  = overall_stats[:nights]
  nights.
  %br/
  = sprintf "%.1f", overall_stats[:warps_per_game]
  warps per game -
  = sprintf "%.1f", overall_stats[:warps_per_night]
  warps per night -
  = sprintf "%.1f", overall_stats[:games_per_night]
  games per night

%table.maag#maag
  - ['thead', 'tfoot'].each do |tag|
    = raw "<#{tag}>"
    %tr
      %th
      %th Player
      %th Warps
      %th Games
      %th Nights
      %th Wins
      %th Nights Won
      %th CFBs
      %th Come Ons
      %th Wimps
      %th Warps/ Game
      %th Warps/ Night
      %th Games/ Night
      %th Win Pct
      %th High Night
    = raw "</#{tag}>"
  %tbody
    - @stats_array.each_with_index do |st, idx|
      %tr
        %td.index
          = idx+1
        %td.player
          //= link_to(st[:player], player_url(st[:player]))
          = st[:player]
        %td.warps{:class => st[:winner][:warps] && 'winner'}
          = st[:warps]
        %td.games{:class => st[:winner][:games] && 'winner'}
          = st[:games]
        %td.nights{:class => st[:winner][:nights] && 'winner'}
          = st[:nights]
        %td.wins{:class => st[:winner][:wins] && 'winner'}
          = st[:wins]
        %td.nights_won{:class => st[:winner][:nights_won] && 'winner'}
          = st[:nights_won]
        %td.cfbs{:class => st[:winner][:cfbs] && 'winner'}
          = st[:cfbs]
        %td.come_ons{:class => st[:winner][:come_ons] && 'winner'}
          = st[:come_ons]
        %td.wimps{:class => st[:winner][:wimps] && 'winner'}
          = st[:wimps]
        %td.warps_per_game{:class => st[:winner][:warps_per_game] && 'winner'}
          = sprintf "%.2f", st[:warps_per_game]
        %td.warps_per_night{:class => st[:winner][:warps_per_night] && 'winner'}
          = sprintf "%.1f", st[:warps_per_night]
        %td.games_per_night{:class => st[:winner][:games_per_night] && 'winner'}
          = sprintf "%.2f", st[:games_per_night]
        %td.wins_per_game{:class => st[:winner][:wins_per_game] && 'winner'}
          %div(style='display: none')= st[:wins_per_game]
          = sprintf "%.1f%%", 100*st[:wins_per_game]
        %td.high_night{:class => st[:winner][:high_night] && 'winner'}
          = st[:high_night]

:javascript
  $(document).ready(function(){
    var da =  {asSorting: ['desc','asc']};
    $('#maag').dataTable({
      aoColumns: [null, null, da, da, da, da, da,
                  da, da, da, da, da, da, da, da],
      bPaginate: false,
      bLengthChange: false,
      bFilter: false,
      bSort: true,
      bInfo: false,
      bAutoWidth: false
    });
  });

