!!! 5
%html
  %head
    %title
      = @pagetitle ? "Brick | #{@pagetitle}" : "Brick"
    %link(rel='icon' type='image/png' href='/images/brick.png')
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %nav
        %ul
          %li
            %a(href="/locale") Locale
          %li
            %a(href="/maag") Career
          %li
            %a(href="/maag/1999") '99
          %li
            %a(href="/maag/2000") '00
          %li
            %a(href="/maag/2001") '01
          %li
            %a(href="/maag/2002") '02
          %li
            %a(href="/maag/2003") '03
          %li
            %a(href="/maag/2004") '04
          %li
            %a(title="Records pending" class="strike") '05
          %li
            %a(title="Records pending" class="strike") '06
          %li
            %a(title="Records pending" class="strike") '07
          %li
            %a(href="/maag/2008") '08
          %li
            %a(href="/maag/2009") '09
          %li
            %a(href="/maag/2010") '10
          %li
            %a(href="/maag/2011") '11
          %li
            %a(href="/maag/2012") '12
          %li
            %a(href="/maag/2013") '13
          %li
            %a(href="/maag/2014") '14
          %li
            %a(href="/maag/2015") '15
          %li
            %a(href="/maag/2016") '16
          %li
            %a(href="/maag/2017") '17
          %li
            %a(href="/maag/2018") '18
          %li
            %a(href="/maag/2019") '19
          %li
            %a(title="Covid sucked" class="strike") '20
          %li
            %a(href="/maag/2021") '21
          %li
            %a(href="/maag/2022") '22
    .content
      = yield
    %footer
      %p
        records prior to 1999 are lost.
        2005&ndash;2007 records are incomplete and pending entry.
        %br/
        copyright 2009&ndash;2020 triode
        |
        %a(href="mailto:triode@ftso.net") triode@ftso.net
        |
        all rights reversed

